body{
  background-color: black;
}

#top-container{
  width: 100%;
  height: 70%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: white;
}

#page-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 70pt;
  color: white;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  z-index: 10;
  font-weight: bold;
  -webkit-text-stroke: 5px black;
}

#body-container{
  height: 1000px;
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 50;
  left: 0;
  text-align: center;
  transition: 2s;
  z-index: 20;
}

#body-container-title1{
  font-family: 'Open Sans', sans-serif;
  font-size: 50pt;
  color: white;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  z-index: 10;
  font-weight: bold;
  -webkit-text-stroke: 5px black;
}


#body-container:hover{
  height: 450px;
  transition: 1s;
}

.body-picture1{
  width: 400px;
  height: 180px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 100px;
  left: 0%;
  background-color: black;
  margin: 5px;
  overflow: hidden;
}


.body-text1{
  text-align: middle;
  margin-top: 110px;
  margin-left: 250px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: white;
  width: 60%;
}

.article-release{
  width: 250px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 5px;
  left: 0;
  background-color: white;
  margin: 5px;
  overflow: hidden;
}

#body-container-title2{
  font-family: 'Open Sans', sans-serif;
  font-size: 50pt;
  color: white;
  position: absolute;
  left: 50%;
  top: 800px;
  transform: translateX(-50%);
  z-index: 10;
  font-weight: bold;
  -webkit-text-stroke: 5px black;
}


.body-text2{
  text-align: middle;
  margin-top: 175px;
  margin-left: 250px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: white;
  width: 60%;
}

#body-container-title3{
  font-family: 'Open Sans', sans-serif;
  font-size: 50pt;
  color: white;
  position: absolute;
  left: 50%;
  top: 2000px;
  transform: translateX(-50%);
  z-index: 10;
  font-weight: bold;
  -webkit-text-stroke: 5px black;
}

.body-text3{
  text-align: middle;
  margin-top: 175px;
  margin-left: 250px;
  margin-bottom: 250px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: white;
  width: 60%;
}


